body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

.subtle {
  color: #999;
}

.subtitle {
  color: #666665;
}

a {
  color: #3B7DB5;
  text-decoration: none;
}
